[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Gluster Filesystem
[access "refs/*"]
	owner = group user/Amar Tumballi (amarts)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Amar Tumballi (amarts)
	label-Verified = -1..+1 group user/Amar Tumballi (amarts)
	push = group user/Amar Tumballi (amarts)
	read = group user/Amar Tumballi (amarts)
	rebase = group user/Amar Tumballi (amarts)
	removeReviewer = group user/Amar Tumballi (amarts)
	submit = group user/Amar Tumballi (amarts)
[access "refs/heads/*"]
	create = group user/Amar Tumballi (amarts)
	push = +force group user/Amar Tumballi (amarts)
	pushMerge = group user/Amar Tumballi (amarts)
	read = group user/Amar Tumballi (amarts)
[access "refs/tags/*"]
	push = group user/Amar Tumballi (amarts)
	push = +force group user/Amar Tumballi (amarts)
